server {
  listen 80;
  server_name {{ WP_DOMAIN }} www.{{ WP_DOMAIN }};

  root {{ WP_PATH }}/public/wordpress;
  index index.php;

  access_log {{ WP_PATH }}/logs/access.log;
  error_log {{ WP_PATH }}/logs/error.log;

  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  location ~ \.php$ {
    include snippets/fastcgi-php.conf;
{% if ansible_distribution_major_version == "18" %}
	  fastcgi_pass unix:/run/php/php7.2-fpm.sock;
{% elif ansible_distribution_major_version == "20" %}
    fastcgi_pass unix:/run/php/php7.4-fpm.sock;
{% else %}
	  fastcgi_pass unix:/run/php/php7.0-fpm.sock;
{% endif %}
    
  }
}